@use "../utilities/mixin"as*;
@use "sass:map";
@use"../utilities/maps" as*;

.portada{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 1000px;
    background: linear-gradient(to right, rgb(0 0 0/ 0.1),rgb(0 0 0/ 0.1)), url(fondo.png);
    @include fondo_imagen;
    border: 1px solid map-get($colores, borde);
    .texto{
        text-align: center;
        width: 90%;
        color: map-get($colores, texto);
        }
        .texto h1{
            text-decoration: underline;
            text-underline-offset: 0.1em;
            font-size: 60px;
        }
        .texto h2{
            font-size: 60px ;
        }
       
    } 




