@use "sass:map";
@use"../utilities/maps" as*;
@use "../utilities/mixin" as*;
.nosotras{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 100%;
        width: 100%; 
        background: linear-gradient(to right,  lab(97.31% 0.34 0.11 / 0.739),#ffffff9c);
        background-size: cover;
        background-position: center;
    }
    .rectangulo {
        @include rectangulo;
    }