@use "../utilities/mixin" as*;
@use "../utilities/maps"as*;

.conteiner_t {
    display: flex;
    flex-wrap: wrap; /* Permite que los items pasen a la siguiente línea en pantallas pequeñas */
    justify-content: center; /* Centra los items horizontalmente */
    padding: 20px;
   

    .item_t { 
        @include item;
         background: map-get($colores, fondo2);
    
    } 
    h1{
        text-align: center;
        padding: 20px;

    }
}
