@use "../utilities/mixin"as*;
@use "sass:map";
@use"../utilities/maps" as*;

.trabajos{
    @include fondo_imagen;     
    h1{
        color: map-get($colores, borde );
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 0.1em; 
        padding: 10px;
    }
    .card{
        border: 1px solid map-get($colores, borde) ;
    }

    .container{
        padding: 1%;

    }
}