@charset "UTF-8";
/* MOVIL */
@media (min-width: 320px) {
  main {
    display: block;
  }
  main .conteiner_t {
    width: 100%;
    height: auto; /* Ajusta según sea necesario */
    padding: 10px; /* Ajusta según sea necesario */
    margin: 5px;
  }
  main .item_t {
    width: 100%; /* 1 item por fila en móviles */
    margin: 10px 0;
  }
  main .elemento {
    /* Otros estilos específicos para móviles */
    padding: 10px;
  }
  h1 {
    font-family: 20px;
  }
}
/* TABLET */
@media (min-width: 768px) {
  .item_t {
    width: calc(50% - 20px); /* 2 items por fila en tablets */
  }
}
/* COMPUTADORA  */
@media (min-width: 1180px) {
  .texto h1 {
    font-family: 100px;
  }
  .conteiner_t {
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(2, 50%);
  }
}
.cyp h1, .cyp h2, body h1 {
  text-align: center;
  height: 100%;
  font-size: 50px;
  padding: 20px;
  text-decoration: underline;
  font-style: italic;
}

body a {
  text-align: center;
  font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fef1f6;
}
body p {
  font-family: "Times New Roman";
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
body a {
  font-family: "Times New Roman";
}
body a:hover {
  background-color: hwb(334 90% 0%);
}
body .img-circle {
  border-radius: 50%;
  border: 1px solid black;
}
.entrada {
  display: inline-block;
  margin: 0.5rem;
  animation: bounce;
  animation-duration: 2s;
}

.container {
  padding: 1%;
}

.card {
  border: 1px solid black;
}

.portada {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
}
.portada .texto {
  text-align: center;
  width: 90%;
  color: rgb(255, 255, 255);
}
.portada .texto h1 {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  font-size: 60px;
}
.portada .texto h2 {
  font-size: 60px;
}

.nosotras {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, lab(97.31% 0.34 0.11/0.739), rgba(255, 255, 255, 0.6117647059));
  background-size: cover;
  background-position: center;
}

.rectangulo {
  justify-content: center;
  margin: 20px;
  width: 90%;
  height: 100%;
  background-color: hwb(334 90% 0%);
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}
.rectangulo p {
  text-align: center;
  font-size: 25px;
  animation: texto-desde-abajo 4s ease-in-out forwards; /* Duración de la animación, función de tiempo y ajuste de la animación */
}
@keyframes texto-desde-abajo {
  0% {
    transform: translateY(100%); /* El texto comienza fuera de la pantalla, en la parte inferior */
  }
  100% {
    transform: translateY(0); /* El texto se desplaza a la posición final, en la posición original */
  }
}

.cyp {
  justify-content: center;
  background: linear-gradient(to right, lab(97.31% 0.34 0.11/0.739), rgba(255, 255, 255, 0.6117647059)), url(iconotijera.png);
  height: 100%;
  width: 100%;
  padding: 5px;
}
.cyp .conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
}
.cyp .item {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid black;
  animation: flipinx 5s;
}

@keyframes flipinx {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  80% {
    transform: rotateX(-10deg);
    opacity: 0.8;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
.trabajos {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.trabajos h1 {
  color: black;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.1em;
  padding: 10px;
}
.trabajos .card {
  border: 1px solid black;
}
.trabajos .container {
  padding: 1%;
}

.conteiner_t {
  display: flex;
  flex-wrap: wrap; /* Permite que los items pasen a la siguiente línea en pantallas pequeñas */
  justify-content: center; /* Centra los items horizontalmente */
  padding: 20px;
}
.conteiner_t .item_t {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid black;
  background: hwb(334 90% 0%);
}
.conteiner_t h1 {
  text-align: center;
  padding: 20px;
}

.contacto {
  justify-content: center;
  margin: 20px;
  width: 90%;
  height: 100%;
  background-color: hwb(334 90% 0%);
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}
.contacto h1 {
  text-align: center;
}
.contacto p {
  text-align: center;
  font-size: 25px;
  animation: texto-desde-abajo 4s ease-in-out forwards; /* Duración de la animación, función de tiempo y ajuste de la animación */
}
@keyframes texto-desde-abajo {
  0% {
    transform: translateY(100%); /* El texto comienza fuera de la pantalla, en la parte inferior */
  }
  100% {
    transform: translateY(0); /* El texto se desplaza a la posición final, en la posición original */
  }
}

.formulario {
  justify-content: center;
  margin: 20px;
  width: 90%;
  height: 100%;
  background-color: hwb(334 90% 0%);
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
}
.formulario p {
  text-align: center;
  font-size: 25px;
  animation: texto-desde-abajo 4s ease-in-out forwards; /* Duración de la animación, función de tiempo y ajuste de la animación */
}
@keyframes texto-desde-abajo {
  0% {
    transform: translateY(100%); /* El texto comienza fuera de la pantalla, en la parte inferior */
  }
  100% {
    transform: translateY(0); /* El texto se desplaza a la posición final, en la posición original */
  }
}

footer ul {
  list-style-type: none; /* Quitamos las viñetas de la lista */
}
footer li {
  display: inline-block;
}/*# sourceMappingURL=style.css.map */