@charset "UTF-8";
/* MOVIL */
/* TABLET */
/* COMPUTADORA  */
@media (min-width: 1180px) {
  .conteiner_t {
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(2, 50%);
  }
  .card {
    transform: translate(90px, 100px);
  }
}
.cyp h1, .cyp h2 {
  text-align: center;
  background: linear-gradient(to right, hsla(0, 83%, 91%, 0.764), hsla(0, 83%, 91%, 0.764));
  height: 100%;
  font-size: 50px;
  padding: 20px;
  text-decoration: underline;
  font-style: italic;
}

body a {
  text-align: center;
  font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #facad5;
}
body p {
  font-family: "Times New Roman";
  text-align: center;
  font-size: 20px;
}
body a {
  font-family: "Times New Roman";
}
body a:hover {
  background-color: rgb(252, 237, 244);
}
body .img-circle {
  border-radius: 50%;
  border: 1px solid black;
}

.entrada {
  display: inline-block;
  margin: 0.5rem;
  animation: bounce;
  animation-duration: 2s;
}

.portada {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
}
.portada .texto {
  text-align: center;
  width: 50%;
  color: rgb(255, 255, 255);
}
.portada .texto h1 {
  font-size: 90px;
  text-decoration: underline;
  text-underline-offset: 0.1em;
}
.portada .texto h2 {
  font-size: 60px;
}

.nosotras {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  background-size: cover;
  background-position: center;
}

.rectangulo {
  justify-content: center;
  margin: 20px;
  width: 90%;
  height: 100%;
  background-color: rgb(252, 237, 244);
  border: 1px solid black;
  animation: girar 1s;
}
.rectangulo p {
  text-align: center;
  font-size: 25px;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cyp {
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(iconotijera.png);
  height: 100%;
  width: 100%;
  padding: 5px;
}
.cyp .conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
}
.cyp .item {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid black;
  animation: name-of-animation 2s;
}

@keyframes name-of-animation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.trabajos {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(colorimetria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.trabajos h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.1em;
  padding: 5px;
}
.trabajos section {
  padding: 10px;
}
.trabajos section .card-img-top {
  width: 100%;
  height: 400px;
}
.trabajos section .card-body {
  width: 100%;
  height: 100%;
}

.conteiner_t {
  display: grid;
  grid-template-columns: repeat 4, 1fr;
  padding: 20px;
  margin: 10px;
  gap: 20px;
}
.conteiner_t .item_t {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid black;
}
.conteiner_t h1 {
  text-align: center;
  padding: 20px;
}

.fondo {
  background-image: url(contactoo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.fondo .card {
  align-items: center;
  position: relative;
  transform: translate(10px, 10px);
  width: 60%;
  height: 90%;
  background-color: #facad5;
  border: 2px solid black;
}
.fondo .card-body {
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}
.fondo h3 {
  text-decoration: underline;
  font-size: 15px;
}
.fondo p {
  font-size: 15px;
}
.fondo a {
  font-size: 15px;
}

.formulario {
  display: grid;
  font-size: 20px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  background-color: #facad5;
  border: 2px solid black;
}
.formulario .cuadrado {
  margin: 20px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 237, 244);
  border: 2px solid black;
}

footer ul {
  list-style-type: none; /* Quitamos las viñetas de la lista */
}
footer li {
  display: inline-block;
}/*# sourceMappingURL=style.css.map */