%titulo {
    text-align: center;
    height: 100%;
    font-size: 50px;
    padding: 20px;
    text-decoration: underline;
    font-style: italic;
};
%letra {
      text-align: center;
      font-size: 20px;
}