@use "../utilities/maps"as*;
@mixin item(){
    width: 100%;
    height: 100%;
    text-align: center;    
    border: 1px solid black;
    }
@mixin fondo_imagen(){
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin rectangulo{
     
        justify-content: center;
        margin: 20px;
        width: 90%;
        height: 100%; 
        background-color: map-get($colores, fondo2 ); 
        border: 1px solid map-get($colores, borde); 
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 8px;
        p{
        text-align: center;
        font-size: 25px;

        animation: texto-desde-abajo 4s ease-in-out forwards; /* Duración de la animación, función de tiempo y ajuste de la animación */

    
    @keyframes texto-desde-abajo {
        0% {
            transform: translateY(100%); /* El texto comienza fuera de la pantalla, en la parte inferior */
        }
        100% {
            transform: translateY(0); /* El texto se desplaza a la posición final, en la posición original */
        }
    }}
}